<form [formGroup]="categoryForm" (ngSubmit)="SubmitCategoryData()">
    <div class="border-b wborder-gray-900/10 pb-12">
      <h2 class="text-xl w-full font-bold leading-7 text-gray-900">Category Information</h2>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8">
        <div class="sm:col-span-1">
          <label for="first-name" class="block text-lg font-medium leading-6 text-gray-900">Category name</label>
          <div class="mt-2">
            <input type="text" name="product-name" formControlName="name" id="product-name" autocomplete="given-name" required class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" class="text-sm font-semibold leading-6 text-gray-900" >Reset</button>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add Category</button>
      </div>
    </div>
  </form>

  <form [formGroup]="brdForm" (ngSubmit)="SubmitBrandData()">
    <div class="border-b wborder-gray-900/10 pb-12">
      <h2 class="text-xl w-full font-bold leading-7 text-gray-900">Brand Information</h2>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8">
        <div class="sm:col-span-1">
          <label for="first-name" class="block text-lg font-medium leading-6 text-gray-900">Brand name</label>
          <div class="mt-2">
            <input type="text" name="product-name" formControlName="name" id="product-name" autocomplete="given-name" required class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" class="text-sm font-semibold leading-6 text-gray-900" >Reset</button>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add Brand</button>
      </div>
    </div>
  </form>