<!-- <div class="py-5">
    <div class="xl:container mx-auto px-6 md:px-12">
      <div class="grid gap-6 px-4  sm:px-0 sm:grid-cols-5 md:grid-cols-5 lg:grid-cols-5">
        <div class="group relative rounded-3xl  space-y-6 overflow-hidden"  *ngFor="let product of products">
          <img
            class="mx-auto h-[25rem] w-full object-cover object-top ransition duration-500 group-hover:scale-105"
            [src]="product.imageSet"
            alt="woman"
            loading="lazy"
            width="640"
            height="805"  
          />
          <div class="absolute bottom-0 inset-x-0 h-max mt-auto px-8 py-6 bg-gray-800 dark:bg-white translate-y-24 transition duration-300 ease-in-out group-hover:translate-y-0">
            <div>
              <h4 class="text-xl font-semibold dark:text-gray-700 text-white">{{product.name}}</h4>
              <span class="block text-sm text-gray-500">{{product.specification}}</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div> -->

<div class="py-5">
    <div class="xl:container m-auto px-3 text-gray-600"   *ngFor="let product of products">
      <div class="lg:bg-gray-50 dark:lg:bg-darker lg:p-16 rounded-[4rem] md:flex justify-center lg:items-center">
        <div class="lg:w-4/12">
            <div class="group relative rounded-3xl  space-y-6 overflow-hidden">
                <img
                  class=" h-[30rem]  transition duration-500 group-hover:scale-105"
                  [src]="product.imageSet"
                  alt="woman"
                  loading="lazy"
                />
                <!-- <div class="absolute bottom-0 inset-x-0 h-max mt-auto px-8 py-6 bg-gray-800 dark:bg-white translate-y-24 transition duration-300 ease-in-out group-hover:translate-y-0">
                  <div>
                    <h4 class="text-xl font-semibold dark:text-gray-700 text-white">{{product.name}}</h4>
                    <span class="block text-sm text-gray-500">{{product.specification}}</span>
                  </div>
                </div> -->
              </div>
        </div>
        <div class=" lg:w-8/12">
          <div class="md:pr-12 pb-20">
            <div class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-pink-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                </svg>
            </div>
            <h1 class="text-3xl font-bold text-slate-700 ">{{product.name}}</h1>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              iPhone is a line of smartphones produced by Apple Inc. 
              hat use Apple's own iOS mobile operating system. 
            </p>
            <div class="list-none mt-2"  *ngFor="let specification of product.specifications">
                <div class="flex items-center">
                  <div>
                    <img [src]="getIconUrl(specification.option)" alt="Icon" class="icon h-5 w-5 mt-2 ml-4 " >
                  </div>
                  <div>
                    <h2 class="flex flex-col mt-2 pl-4 pt-6 items-start text-lg font-medium leading-8 lg:items-center md:flex-row text-slate-700"><span class="flex-1">{{specification.option}}<span class="text-lg font-normal text-slate-500 pl-3">{{specification.value}}</span></span></h2>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
                                      
                                      