 
<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-2xl "
>
  <div class="rounded-t-2xl mb-0 px-4 py-3 bg-gray-50">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-grow flex-1">
        <h3 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
          Sales Overview
        </h3>
        <h2 class="text-blueGray-700 text-xl font-semibold">
          Top Sales up to today
        </h2>
      </div>
    </div>
  </div>
  <div class="p-4 flex-auto pb-2">
    <div>
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>   
  </div>
</div>
      