
<div class="bg-transparent">  
  <div class="container m-auto text-gray-500 md:px-12 xl:px-0">
      <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
        <button class="hover:scale-105 duration-500" (click)="OpenBrandPopup()">
          <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
            <div class="mb-12 space-y-4 text-start">
                <h1 class="text-2xl font-semibold text-purple-900">Brand Overview</h1>
                <p class="mb-6">Overall overview of created brands.</p>
                <p class="block font-medium text-purple-600">View more</p>
            </div>
            <img src="https://img.freepik.com/free-vector/brand-creation-concept-illustration_114360-11328.jpg?w=740&t=st=1686274885~exp=1686275485~hmac=fa0587420cf0738925f18e3418b0e842b48e982d808f9fadf1329098b71aaaae" class="w-2/3 ml-auto -mb-12" alt="illustration" loading="lazy" width="900" height="600">
        </div>
        </button>
          
        <button class="hover:scale-105 duration-500" (click)="OpenCategoryPopup()">
          <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
            <div class="mb-12 space-y-4 text-start">
                <h1 class="text-2xl font-semibold text-purple-900">Category Overview</h1>
                <p class="mb-6">Overall overview of created categories.</p>
                <p class="block font-medium text-purple-600">View more</p>
            </div>
            <img src="https://img.freepik.com/free-vector/scrum-board-concept-illustration_114360-1877.jpg?w=740&t=st=1686275067~exp=1686275667~hmac=265bdb79268f4b8f473bd218c121a83fc5daee7f5189f3e9e69647b65b5483ea" class="w-2/3 ml-auto -mb-12" alt="illustration" loading="lazy" width="900" height="600">
        </div>
        </button>
          
        <button class="hover:scale-105 duration-500" (click)="OpenProductPopup()">
          <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
            <div class="mb-12 space-y-4 text-start">
                <h1 class="text-2xl font-semibold text-purple-900">Product Overview</h1>
                <p class="mb-6">Overall Overview of Created Products.</p>
                <p class="block font-medium text-purple-600">View more</p>
            </div>
            <img src="https://tailus.io/sources/blocks/end-image/preview/images/ux-design.svg" class="w-2/3 ml-auto " alt="illustration" loading="lazy" width="900" height="600">
        </div>
        </button>
          
      </div>
  </div>
</div>
                                      


