<div class="container mx-auto">
  <div class="flex flex-wrap mt-6 -mx-3">
    <div class="w-full max-w-full mt-0 lg:w-7/12 lg:flex-none">
      <app-analytical-barchart></app-analytical-barchart>
    </div>
    <div class="w-full max-w-full px-3 lg:w-5/12 lg:flex-none">
      <div class="relative w-full h-full rounded-2xl">
        <div class="absolute w-full h-full transition-all duration-500 ">
          <app-analytical-review></app-analytical-review>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap mt-6 -mx-3">
    <div class="w-full max-w-full px-3 mt-0 lg:flex-none">
      <app-analytical-testmonials></app-analytical-testmonials>
    </div>
</div>


